@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

body {
  min-height: 100vh;
  background: ghostwhite;
}

:root {
  --purps: #662ad2;
  --lightpurps: #eff1fa;
  --border: #dadaed;
  --border-hover: #c1c1df;
  --text-color: #a8a8c0;
}

/* ? ----------------------------- HEADER ------------------------------------ */

.logo {
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  width: 110px;
}
.logo:hover {
  transform: scale(0.95);
}
.nav_link {
  color: var(--purps);
  font-weight: 700;
}
.signup_btn {
  border: none;
  background: var(--purps);
  color: #eff1fa;
  font-weight: 700;
  transition: all 0.3s;
  border-radius: 8px;
  border: 1px solid var(--border);
  font-size: 15px;
}
.signup_btn:hover {
  background: var(--lightpurps);
  border: 1px solid var(--border-hover);
}

.login_btn {
  background: var(--lightpurps);
  border-radius: 8px;
  border: 1px solid var(--border);
  font-size: 15px;
}
.login_btn:hover {
  border: 1px solid var(--border-hover);
}

/* ? ----------------------------- Absolute Elements ------------------------------------ */

.hexagon_3d {
  max-width: 400px;
  right: -16vw;
}
.chat_bubble {
  right: 27vw;
  top: -4vw;
}
.circle_3d {
  right: 29vw;
}
.square_3d {
  right: 22vw;
  max-width: 200px;
}
@media screen and (max-width: 1200px) {
  .square_3d {
    right: 31vw;
    max-width: 200px;
  }
}
.circles_green {
  max-width: 300px;
  right: -16vw;
  top: 19vh;
}
.ellipse {
  max-width: 800px;
  right: 1vw;
  top: 17vh;
}

/* ? ----------------------------- Form + Wrapper  ------------------------------------ */

.wrapper {
  max-width: 1200px;
  margin: auto;
  position: relative;
}

.form_wrapper {
  max-width: 450px;
  margin: auto;
  position: relative;
}

.form,
.card {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 5px 57px rgba(74, 97, 233, 0.2);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  margin: auto;
  margin-top: 30px;
}

.input {
  border: 1px solid #dadaed;
  color: #6e6e9e;
  background:none;
}

.input:hover {
  border: 1px solid #c1c1df;
}


.form_container {
  max-width: 900px;
}

.form_heading {
  background: -webkit-linear-gradient(60deg, var(--purps), #61c5b7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fancy_button {
  background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
  background-size: 800% 400%;
  padding: 1em 2em;
  display: inline-block;
  border: none;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 700;
  color: white;
  transition: all 0.5s ease-in-out;
  animation: gradient 10s infinite cubic-bezier(0.62, 0.28, 0.23, 0.99) both;
}

button:hover {
  animation: gradient 3s infinite;
  transform: scale(1.05);
}

button:active {
  animation: gradient 3s infinite;
  transform: scale(0.8);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.login_here {
  color: #662ad2;
}

.login_here {
  font-weight: 700;
}

.textarea {
  box-shadow: none;
}

button svg,
a svg {
  width: 20px;
  height: 20px;
  margin-right: 7px;
}

.separator {
  border-top: 1px solid var(--border);
  margin-bottom: 40px;
}

.tweet {
  color: var(--text-color);
}

.edit_delete {
  margin-left: auto;
}

/* ? ----------------------------- POSTS  ------------------------------------ */
.main-container {
  display: grid;
  grid-template-columns: 230px 1fr 300px;
  max-width: 1300px;
}

@media screen and (max-width: 1200px) {
  .main-container {
    max-width: 1100px;
  }
}

.more_btn {
  height: 30px;
  width: 30px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.corner_name {
 max-width: 100px;
}
.trends_container {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 5px 57px rgba(74, 97, 233, 0.2);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  position: sticky;
  top: 0;
  margin-right: 5px;
}

@media screen and (max-width: 900px) {
  .trends_container {
    display: none;
  }
}

/* ? -----------------------------  PROFILE  ------------------------------------ */
.profile_pic {
  width: 100px;
  height:100px;
  border-radius: 50%;
  border: 5px solid var(--border);
  margin-top: -30px;
  z-index: 1;
  margin-left: 20px;
  margin-right: 20px;
  background-color: var(--lightpurps);
}

.profile_cover {
  border-radius: 8px 8px 0 0;
  width: 100%;
  height:200px;
  background-color: var(--purps);
}


/* ? ----------------------------- Validator  ------------------------------------ */

.hidden {
  display: none;
}

.validate_error + .error {
  display: block !important;
}

.error {
  color: rgb(243, 85, 85);
  padding-top: 5px;
  font-size: 14px;
}