% include ("header", title="Posts") 
% import datetime, timeago 
% now = datetime.datetime.now()

<main class="w-full mx-auto main-container">
  % include("navigation")
  <!-- ? //////////////////////////////////  CENTER  /////////////////////////////////////// -->
  <div class="form_container ">
    <form
      class="relative z-10 p-8 mt-0 form form-posts"
      action="/posts"
      method="post"
      onsubmit="return validate(this)"
    >
      <div class="flex flex-row media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src="/userpic.png" alt="Placeholder image" />
          </figure>
        </div>
        <div class="w-full">
          <textarea
            name="text"
            type="textarea"
            class="bg-transparent border-none textarea"
            rows="2"
            placeholder="Write something..."
            data-validate="str"
            data-min="1"
            data-max="300"
          ></textarea>
          <span class="error hidden"
            >Post must be between 1 and 300 characters</span
          >
        </div>
      </div>
      <div class="mt-4 separator"></div>
      <button class="flex mt-5 ml-auto cursor-pointer fancy_button">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path fill="none" d="M0 0h24v24H0z" />
          <path
            fill="currentColor"
            d="M6.94 14.036c-.233.624-.43 1.2-.606 1.783.96-.697 2.101-1.139 3.418-1.304 2.513-.314 4.746-1.973 5.876-4.058l-1.456-1.455 1.413-1.415 1-1.001c.43-.43.915-1.224 1.428-2.368-5.593.867-9.018 4.292-11.074 9.818zM17 9.001L18 10c-1 3-4 6-8 6.5-2.669.334-4.336 2.167-5.002 5.5H3C4 16 6 2 21 2c-1 2.997-1.998 4.996-2.997 5.997L17 9.001z"
          />
        </svg>
        Post
      </button>
    </form>
     <img class="absolute ellipse" src="Ellipse20.png" alt=""/> 

    % if not posts:
    <div class="p-4 no_posts subtitle is-5">
      <strong>Sorry, you have no posts to show.</strong>
    </div>
    % end


  <!-- ? //////////////////////////////////  When Posts  /////////////////////////////////////// -->

    <div id="posts" class="p-6 mt-2 form form_posts">
      % for post in posts:
      <div class="post">
        <div class="media">
          <div class="media-left">
              <img class="w-12 h-12 object-cover rounded-full"
              src="/images/pictures/{{post['picture']}}"
              alt="Placeholder image"
              onerror="this.src='/images/userpic.png'" />
          </div>
          <div class="media-content">
            <p class="title is-6 text-purps">
              {{ post["first_name"] }} {{ post["last_name"] }}
            </p>
            <p class="subtitle is-6 text-username_color">
              @{{post["username"]}}
            </p>
          </div>
          <span class="tag is-link is-light"
            >{{ timeago.format(int(post["created_at"]), now) }}</span
          >
        </div>
        <p class="pt-2 pl-6 pb-2 mb-0 tweet subtitle is-6">{{ post["text"] }}</p>

        % if get("user", False) and user["username"] == post["username"]:
        <div class="flex justify-end post edit_delete">
          <a href="/edit/{{ post['id'] }}" class="edit_delete_btn">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path fill="none" d="M0 0h24v24H0z" />
              <path
                fill="currentColor"
                d="M6.414 16L16.556 5.858l-1.414-1.414L5 14.586V16h1.414zm.829 2H3v-4.243L14.435 2.322a1 1 0 0 1 1.414 0l2.829 2.829a1 1 0 0 1 0 1.414L7.243 18zM3 20h18v2H3v-2z"
              />
            </svg>
          </a>
          <form action="/delete-post" method="POST">
            <input name="post_id" type="hidden" value='{{ post["id"] }}' />
            <div>
              <button class="edit_delete_btn">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <path fill="none" d="M0 0h24v24H0z" />
                  <path
                    fill="currentColor"
                    d="M17 6h5v2h-2v13a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V8H2V6h5V3a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v3zm1 2H6v12h12V8zM9 4v2h6V4H9z"
                  />
                </svg>
              </button>
            </div>
          </form>
        </div>
        % end
      </div>
      <div class="separator"></div>
      % end

    </div>
  </div>
  <!-- ? /////////////////////////////// RIGHT SIDE //////////////////////////////////// -->

  % include("rightside")
</main>

% include ("footer")
