% include("header", title="Profile Page")
% import datetime, timeago 
% now = datetime.datetime.now()

<main class="w-full mx-auto main-container">
  % include("navigation")
  <!-- ? //////////////////////////////////  CENTER  /////////////////////////////////////// -->
  <div class="form_container">
    <div class="flex items-center pb-2 profile_header">
      <a class="cursor-pointer" href="/posts">
        <svg
        class="mr-4"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="18"
        height="18"
      >
        <path fill="none" d="M0 0h24v24H0z" />
        <path
          d="M7.828 11H20v2H7.828l5.364 5.364-1.414 1.414L4 12l7.778-7.778 1.414 1.414z"
        />
      </svg>
      </a>
      
      <h2 class="text-xl font-bold">{{ profile["first_name"] }} {{ profile["last_name"] }}</h2>
    </div>

    <div class="relative z-10 mt-0 form form-posts">
      <div class="p-2 profile_cover"></div>
      <div class="flex pb-6 profile_container">
        <img class="profile_pic z-11" src="/images/pictures/{{profile['picture']}}" alt="" onerror="this.src='/images/userpic.png'" />
        <div class="pt-2 profile_user">
          <h3 class="font-bold">{{ profile["first_name"] }} {{ profile["last_name"] }}</h3>
          <span>@{{ profile["username"] }}</span>
        </div>
      </div>
      <h4 class="pb-5 pl-5 pr-5 ml-3">
        {{ profile["bio"] }}
      </h4>
    </div>
  <span class="block pt-6 mb-0 text-xl font-bold">Tweets</span>
    % if not posts:
    <div class="p-4 no_posts subtitle is-5">
      <strong>Sorry, you have no posts to show.</strong>
    </div>
    % end
    <div id="posts" class="p-6 mt-2 form form_posts">
      % for post in posts:
      <div class="post">
        <div class="media">
          <div class="media-left">
           
              <img class="w-12 h-12 object-cover rounded-full" src="/images/pictures/{{post['picture']}}" alt="Placeholder image" onerror="this.src='/images/userpic.png'"/>
           
          </div>
          <div class="media-content">
            <p class="title is-6 text-purps">
              {{ post["first_name"] }} {{ post["last_name"] }}
            </p>
            <p class="subtitle is-6 text-username_color">
              @{{post["username"]}}
            </p>
          </div>
          <span class="tag is-link is-light"
            >{{ timeago.format(int(post["created_at"]), now) }}</span>
        </div>
        <p class="pt-2 pl-6 pb-2 mb-0 tweet subtitle is-6">{{ post["text"] }}</p>
        % if get("user", False) and user["username"] == post["username"]:
        <div class="flex justify-end post edit_delete">
          <a href="/edit/{{ post['id'] }}" class="edit_delete_btn">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path fill="none" d="M0 0h24v24H0z" />
              <path
                fill="currentColor"
                d="M6.414 16L16.556 5.858l-1.414-1.414L5 14.586V16h1.414zm.829 2H3v-4.243L14.435 2.322a1 1 0 0 1 1.414 0l2.829 2.829a1 1 0 0 1 0 1.414L7.243 18zM3 20h18v2H3v-2z"
              />
            </svg>
          </a>
          <form action="/delete-post" method="POST">
            <input name="post_id" type="hidden" value='{{ post["id"] }}' />
            <div>
              <button class="edit_delete_btn">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <path fill="none" d="M0 0h24v24H0z" />
                  <path
                    fill="currentColor"
                    d="M17 6h5v2h-2v13a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V8H2V6h5V3a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v3zm1 2H6v12h12V8zM9 4v2h6V4H9z"
                  />
                </svg>
              </button>
            </div>
          </form>
        </div>
        % end
      </div>
      <div class="separator"></div>
      % end
    </div>
  </div>
  <!-- ? /////////////////////////////// RIGHT SIDE //////////////////////////////////// -->

  % include("rightside")
</main>

% include("footer")
